
Servers/.jenkins/plugins/ace-editor/WEB-INF/lib/ace-editor.jar
Servers/.jenkins/plugins/ant/WEB-INF/lib/ant.jar
Servers/.jenkins/plugins/antisamy-markup-formatter/WEB-INF/lib/antisamy-markup-formatter.jar
Servers/.jenkins/plugins/antisamy-markup-formatter/WEB-INF/lib/owasp-java-html-sanitizer-20220608.1.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/apache-httpcomponents-client-4-api.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/fluent-hc-4.5.13.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpasyncclient-4.1.4.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpasyncclient-cache-4.1.4.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpclient-4.5.13.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpclient-cache-4.5.13.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpcore-4.4.15.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpcore-nio-4.4.15.jar
Servers/.jenkins/plugins/apache-httpcomponents-client-4-api/WEB-INF/lib/httpmime-4.5.13.jar
Servers/.jenkins/plugins/bootstrap5-api/WEB-INF/lib/bootstrap5-api.jar
Servers/.jenkins/plugins/bouncycastle-api/WEB-INF/lib/bouncycastle-api.jar
Servers/.jenkins/plugins/bouncycastle-api/WEB-INF/optional-lib/bcpkix-jdk18on-1.72.jar
Servers/.jenkins/plugins/bouncycastle-api/WEB-INF/optional-lib/bcprov-jdk18on-1.72.jar
Servers/.jenkins/plugins/bouncycastle-api/WEB-INF/optional-lib/bcutil-jdk18on-1.72.jar
Servers/.jenkins/plugins/branch-api/WEB-INF/lib/branch-api.jar
Servers/.jenkins/plugins/build-timeout/WEB-INF/lib/build-timeout.jar
Servers/.jenkins/plugins/caffeine-api/WEB-INF/lib/caffeine-2.9.3.jar
Servers/.jenkins/plugins/caffeine-api/WEB-INF/lib/caffeine-api.jar
Servers/.jenkins/plugins/checks-api/WEB-INF/lib/checks-api.jar
Servers/.jenkins/plugins/cloudbees-folder/WEB-INF/lib/cloudbees-folder.jar
Servers/.jenkins/plugins/command-launcher/WEB-INF/lib/command-launcher.jar
Servers/.jenkins/plugins/commons-lang3-api/WEB-INF/lib/commons-lang3-3.12.0.jar
Servers/.jenkins/plugins/commons-lang3-api/WEB-INF/lib/commons-lang3-api.jar
Servers/.jenkins/plugins/commons-text-api/WEB-INF/lib/commons-text-1.10.0.jar
Servers/.jenkins/plugins/commons-text-api/WEB-INF/lib/commons-text-api.jar
Servers/.jenkins/plugins/credentials-binding/WEB-INF/lib/credentials-binding.jar
Servers/.jenkins/plugins/credentials/WEB-INF/lib/antlr4-runtime-4.11.1.jar
Servers/.jenkins/plugins/credentials/WEB-INF/lib/credentials.jar
Servers/.jenkins/plugins/display-url-api/WEB-INF/lib/display-url-api.jar
Servers/.jenkins/plugins/durable-task/WEB-INF/lib/durable-task.jar
Servers/.jenkins/plugins/durable-task/WEB-INF/lib/lib-durable-task-36.vd73d2d3299d1.jar
Servers/.jenkins/plugins/echarts-api/WEB-INF/lib/echarts-api.jar
Servers/.jenkins/plugins/echarts-api/WEB-INF/lib/eclipse-collections-9.2.0.jar
Servers/.jenkins/plugins/echarts-api/WEB-INF/lib/eclipse-collections-api-9.2.0.jar
Servers/.jenkins/plugins/email-ext/WEB-INF/lib/email-ext.jar
Servers/.jenkins/plugins/email-ext/WEB-INF/lib/jericho-html-3.4.jar
Servers/.jenkins/plugins/email-ext/WEB-INF/lib/jsoup-1.15.3.jar
Servers/.jenkins/plugins/font-awesome-api/WEB-INF/lib/font-awesome-api.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/git-client.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/gson-2.9.1.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/JavaEWAH-1.1.13.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/org.eclipse.jgit-6.4.0.202211300538-r.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/org.eclipse.jgit.http.apache-6.4.0.202211300538-r.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/org.eclipse.jgit.http.server-6.4.0.202211300538-r.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/org.eclipse.jgit.lfs-6.4.0.202211300538-r.jar
Servers/.jenkins/plugins/git-client/WEB-INF/lib/org.eclipse.jgit.ssh.jsch-6.4.0.202211300538-r.jar
Servers/.jenkins/plugins/git/WEB-INF/lib/git.jar
Servers/.jenkins/plugins/github-api/WEB-INF/lib/commons-lang3-3.9.jar
Servers/.jenkins/plugins/github-api/WEB-INF/lib/github-api-1.303.jar
Servers/.jenkins/plugins/github-api/WEB-INF/lib/github-api.jar
Servers/.jenkins/plugins/github-api/WEB-INF/lib/okhttp-2.7.5.jar
Servers/.jenkins/plugins/github-api/WEB-INF/lib/okhttp-urlconnection-2.7.5.jar
Servers/.jenkins/plugins/github-branch-source/WEB-INF/lib/github-branch-source.jar
Servers/.jenkins/plugins/github/WEB-INF/lib/commons-lang3-3.12.0.jar
Servers/.jenkins/plugins/github/WEB-INF/lib/github.jar
Servers/.jenkins/plugins/gradle/WEB-INF/lib/commons-collections-3.2.2.jar
Servers/.jenkins/plugins/gradle/WEB-INF/lib/commons-digester-2.1.jar
Servers/.jenkins/plugins/gradle/WEB-INF/lib/commons-validator-1.7.jar
Servers/.jenkins/plugins/gradle/WEB-INF/lib/gradle-2.2.jar
Servers/.jenkins/plugins/instance-identity/WEB-INF/lib/instance-identity.jar
Servers/.jenkins/plugins/ionicons-api/WEB-INF/lib/ionicons-api.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-annotations-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-core-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-databind-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-dataformat-cbor-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-dataformat-xml-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-dataformat-yaml-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-datatype-jdk8-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-datatype-json-org-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-datatype-jsr310-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-module-jaxb-annotations-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson-module-parameter-names-2.14.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/jackson2-api.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/json-20190722.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/stax2-api-4.2.1.jar
Servers/.jenkins/plugins/jackson2-api/WEB-INF/lib/woodstox-core-6.4.0.jar
Servers/.jenkins/plugins/jakarta-activation-api/WEB-INF/lib/jakarta-activation-api.jar
Servers/.jenkins/plugins/jakarta-activation-api/WEB-INF/lib/jakarta.activation-2.0.1.jar
Servers/.jenkins/plugins/jakarta-mail-api/WEB-INF/lib/jakarta-mail-api.jar
Servers/.jenkins/plugins/jakarta-mail-api/WEB-INF/lib/jakarta.mail-2.0.1.jar
Servers/.jenkins/plugins/javax-activation-api/WEB-INF/lib/javax-activation-api.jar
Servers/.jenkins/plugins/javax-activation-api/WEB-INF/lib/javax.activation-1.2.0.jar
Servers/.jenkins/plugins/javax-mail-api/WEB-INF/lib/javax-mail-api.jar
Servers/.jenkins/plugins/javax-mail-api/WEB-INF/lib/javax.mail-1.6.2.jar
Servers/.jenkins/plugins/jaxb/WEB-INF/lib/jaxb-api-2.3.1.jar
Servers/.jenkins/plugins/jaxb/WEB-INF/lib/jaxb-impl-2.3.7.jar
Servers/.jenkins/plugins/jaxb/WEB-INF/lib/jaxb.jar
Servers/.jenkins/plugins/jdk-tool/WEB-INF/lib/jdk-tool.jar
Servers/.jenkins/plugins/jjwt-api/WEB-INF/lib/jjwt-api-0.11.5.jar
Servers/.jenkins/plugins/jjwt-api/WEB-INF/lib/jjwt-api.jar
Servers/.jenkins/plugins/jjwt-api/WEB-INF/lib/jjwt-impl-0.11.5.jar
Servers/.jenkins/plugins/jjwt-api/WEB-INF/lib/jjwt-jackson-0.11.5.jar
Servers/.jenkins/plugins/jquery3-api/WEB-INF/lib/jquery3-api.jar
Servers/.jenkins/plugins/jsch/WEB-INF/lib/jsch-0.1.55.jar
Servers/.jenkins/plugins/jsch/WEB-INF/lib/jsch.jar
Servers/.jenkins/plugins/junit/WEB-INF/lib/junit.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/ldap.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/spring-ldap-core-2.3.7.RELEASE.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/spring-security-ldap-5.6.3.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/spring-tx-5.3.19.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/time4j-base-5.9.1.jar
Servers/.jenkins/plugins/ldap/WEB-INF/lib/time4j-tzdata-5.0-2022f.jar
Servers/.jenkins/plugins/mailer/WEB-INF/lib/mailer.jar
Servers/.jenkins/plugins/matrix-auth/WEB-INF/lib/matrix-auth.jar
Servers/.jenkins/plugins/matrix-project/WEB-INF/lib/matrix-project.jar
Servers/.jenkins/plugins/mina-sshd-api-common/WEB-INF/lib/mina-sshd-api-common.jar
Servers/.jenkins/plugins/mina-sshd-api-common/WEB-INF/lib/sshd-common-2.9.2.jar
Servers/.jenkins/plugins/mina-sshd-api-core/WEB-INF/lib/mina-sshd-api-core.jar
Servers/.jenkins/plugins/mina-sshd-api-core/WEB-INF/lib/sshd-core-2.9.2.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/annotations-13.0.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/kotlin-stdlib-1.4.20.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/kotlin-stdlib-common-1.4.20.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/kotlin-stdlib-jdk7-1.4.10.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/kotlin-stdlib-jdk8-1.4.10.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/logging-interceptor-4.9.3.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/okhttp-4.9.3.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/okhttp-api.jar
Servers/.jenkins/plugins/okhttp-api/WEB-INF/lib/okio-2.10.0.jar
Servers/.jenkins/plugins/pam-auth/WEB-INF/lib/libpam4j-1.11.jar
Servers/.jenkins/plugins/pam-auth/WEB-INF/lib/pam-auth.jar
Servers/.jenkins/plugins/pipeline-build-step/WEB-INF/lib/pipeline-build-step.jar
Servers/.jenkins/plugins/pipeline-github-lib/WEB-INF/lib/pipeline-github-lib.jar
Servers/.jenkins/plugins/pipeline-graph-analysis/WEB-INF/lib/pipeline-graph-analysis.jar
Servers/.jenkins/plugins/pipeline-groovy-lib/WEB-INF/lib/ivy-2.5.1.jar
Servers/.jenkins/plugins/pipeline-groovy-lib/WEB-INF/lib/pipeline-groovy-lib.jar
Servers/.jenkins/plugins/pipeline-input-step/WEB-INF/lib/pipeline-input-step.jar
Servers/.jenkins/plugins/pipeline-milestone-step/WEB-INF/lib/pipeline-milestone-step.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/btf-1.3.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/jackson-coreutils-2.0.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/jackson-coreutils-equivalence-1.0.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/joda-time-2.10.5.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/jopt-simple-5.0.4.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/json-schema-core-1.2.14.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/json-schema-validator-2.2.14.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/jsr305-3.0.1.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/libphonenumber-8.11.1.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/mailapi-1.6.2.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/msg-simple-1.2.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/pipeline-model-api.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/rhino-1.7.7.2.jar
Servers/.jenkins/plugins/pipeline-model-api/WEB-INF/lib/uri-template-0.10.jar
Servers/.jenkins/plugins/pipeline-model-definition/WEB-INF/lib/pipeline-model-definition.jar
Servers/.jenkins/plugins/pipeline-model-extensions/WEB-INF/lib/pipeline-model-extensions.jar
Servers/.jenkins/plugins/pipeline-rest-api/WEB-INF/lib/pipeline-rest-api.jar
Servers/.jenkins/plugins/pipeline-stage-step/WEB-INF/lib/pipeline-stage-step.jar
Servers/.jenkins/plugins/pipeline-stage-tags-metadata/WEB-INF/lib/pipeline-stage-tags-metadata.jar
Servers/.jenkins/plugins/pipeline-stage-view/WEB-INF/lib/pipeline-stage-view.jar
Servers/.jenkins/plugins/plain-credentials/WEB-INF/lib/plain-credentials.jar
Servers/.jenkins/plugins/plugin-util-api/WEB-INF/lib/plugin-util-api.jar
Servers/.jenkins/plugins/popper2-api/WEB-INF/lib/popper2-api.jar
Servers/.jenkins/plugins/resource-disposer/WEB-INF/lib/resource-disposer.jar
Servers/.jenkins/plugins/scm-api/WEB-INF/lib/scm-api.jar
Servers/.jenkins/plugins/script-security/WEB-INF/lib/groovy-sandbox-1.32.jar
Servers/.jenkins/plugins/script-security/WEB-INF/lib/script-security.jar
Servers/.jenkins/plugins/snakeyaml-api/WEB-INF/lib/snakeyaml-1.33.jar
Servers/.jenkins/plugins/snakeyaml-api/WEB-INF/lib/snakeyaml-api.jar
Servers/.jenkins/plugins/ssh-credentials/WEB-INF/lib/ssh-credentials.jar
Servers/.jenkins/plugins/ssh-slaves/WEB-INF/lib/ssh-slaves.jar
Servers/.jenkins/plugins/sshd/WEB-INF/lib/eddsa-0.3.0.jar
Servers/.jenkins/plugins/sshd/WEB-INF/lib/sshd.jar
Servers/.jenkins/plugins/structs/WEB-INF/lib/structs.jar
Servers/.jenkins/plugins/timestamper/WEB-INF/lib/timestamper.jar
Servers/.jenkins/plugins/token-macro/WEB-INF/lib/accessors-smart-2.4.7.jar
Servers/.jenkins/plugins/token-macro/WEB-INF/lib/json-path-2.7.0.jar
Servers/.jenkins/plugins/token-macro/WEB-INF/lib/json-smart-2.4.7.jar
Servers/.jenkins/plugins/token-macro/WEB-INF/lib/token-macro.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/eddsa-0.3.0.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/gson-2.8.9.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/jbcrypt-1.0.0.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/tink-1.7.0.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/trilead-api.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/trilead-putty-extension-1.2.jar
Servers/.jenkins/plugins/trilead-api/WEB-INF/lib/trilead-ssh2-build-217-jenkins-247.v708a_8b_14f4b_a.jar
Servers/.jenkins/plugins/variant/WEB-INF/lib/variant.jar
Servers/.jenkins/plugins/workflow-aggregator/WEB-INF/lib/workflow-aggregator.jar
Servers/.jenkins/plugins/workflow-api/WEB-INF/lib/workflow-api.jar
Servers/.jenkins/plugins/workflow-basic-steps/WEB-INF/lib/workflow-basic-steps.jar
Servers/.jenkins/plugins/workflow-cps/WEB-INF/lib/diff4j-1.3.jar
Servers/.jenkins/plugins/workflow-cps/WEB-INF/lib/groovy-cps-3601.v9b_36a_d99e1cc.jar
Servers/.jenkins/plugins/workflow-cps/WEB-INF/lib/workflow-cps.jar
Servers/.jenkins/plugins/workflow-durable-task-step/WEB-INF/lib/workflow-durable-task-step.jar
Servers/.jenkins/plugins/workflow-job/WEB-INF/lib/workflow-job.jar
Servers/.jenkins/plugins/workflow-multibranch/WEB-INF/lib/workflow-multibranch.jar
Servers/.jenkins/plugins/workflow-scm-step/WEB-INF/lib/workflow-scm-step.jar
Servers/.jenkins/plugins/workflow-step-api/WEB-INF/lib/workflow-step-api.jar
Servers/.jenkins/plugins/workflow-support/WEB-INF/lib/jboss-marshalling-2.1.0.Final.jar
Servers/.jenkins/plugins/workflow-support/WEB-INF/lib/jboss-marshalling-river-2.1.0.Final.jar
Servers/.jenkins/plugins/workflow-support/WEB-INF/lib/workflow-support.jar
Servers/.jenkins/plugins/ws-cleanup/WEB-INF/lib/ws-cleanup.jar
Servers/.jenkins/secret.key
Servers/.jenkins/war/WEB-INF/lib/access-modifier-annotation-1.27.jar
Servers/.jenkins/war/WEB-INF/lib/annotation-indexer-1.16.jar
Servers/.jenkins/war/WEB-INF/lib/ant-1.10.12.jar
Servers/.jenkins/war/WEB-INF/lib/ant-launcher-1.10.12.jar
Servers/.jenkins/war/WEB-INF/lib/antlr-2.7.7.jar
Servers/.jenkins/war/WEB-INF/lib/args4j-2.33.jar
Servers/.jenkins/war/WEB-INF/lib/asm-9.4.jar
Servers/.jenkins/war/WEB-INF/lib/asm-analysis-9.4.jar
Servers/.jenkins/war/WEB-INF/lib/asm-commons-9.4.jar
Servers/.jenkins/war/WEB-INF/lib/asm-tree-9.4.jar
Servers/.jenkins/war/WEB-INF/lib/asm-util-9.4.jar
Servers/.jenkins/war/WEB-INF/lib/bridge-method-annotation-1.23.jar
Servers/.jenkins/war/WEB-INF/lib/cli-2.375.2.jar
Servers/.jenkins/war/WEB-INF/lib/commons-beanutils-1.9.4.jar
Servers/.jenkins/war/WEB-INF/lib/commons-codec-1.15.jar
Servers/.jenkins/war/WEB-INF/lib/commons-collections-3.2.2.jar
Servers/.jenkins/war/WEB-INF/lib/commons-compress-1.21.jar
Servers/.jenkins/war/WEB-INF/lib/commons-discovery-0.5.jar
Servers/.jenkins/war/WEB-INF/lib/commons-fileupload-1.4.jar
Servers/.jenkins/war/WEB-INF/lib/commons-httpclient-3.1-jenkins-3.jar
Servers/.jenkins/war/WEB-INF/lib/commons-io-2.11.0.jar
Servers/.jenkins/war/WEB-INF/lib/commons-jelly-1.1-jenkins-20220630.jar
Servers/.jenkins/war/WEB-INF/lib/commons-jelly-tags-define-1.0.1-hudson-20071021.jar
Servers/.jenkins/war/WEB-INF/lib/commons-jelly-tags-fmt-1.0.jar
Servers/.jenkins/war/WEB-INF/lib/commons-jelly-tags-xml-1.1.jar
Servers/.jenkins/war/WEB-INF/lib/commons-jexl-1.1-jenkins-20111212.jar
Servers/.jenkins/war/WEB-INF/lib/commons-lang-2.6.jar
Servers/.jenkins/war/WEB-INF/lib/crypto-util-1.7.jar
Servers/.jenkins/war/WEB-INF/lib/dom4j-2.1.3.jar
Servers/.jenkins/war/WEB-INF/lib/embedded_su4j-1.1.jar
Servers/.jenkins/war/WEB-INF/lib/ezmorph-1.0.6.jar
Servers/.jenkins/war/WEB-INF/lib/failureaccess-1.0.1.jar
Servers/.jenkins/war/WEB-INF/lib/groovy-all-2.4.21.jar
Servers/.jenkins/war/WEB-INF/lib/guava-31.1-jre.jar
Servers/.jenkins/war/WEB-INF/lib/guice-5.0.1.jar
Servers/.jenkins/war/WEB-INF/lib/j-interop-2.0.8-kohsuke-1.jar
Servers/.jenkins/war/WEB-INF/lib/j-interopdeps-2.0.8-kohsuke-1.jar
Servers/.jenkins/war/WEB-INF/lib/jakarta.annotation-api-2.1.1.jar
Servers/.jenkins/war/WEB-INF/lib/jakarta.servlet.jsp.jstl-api-1.2.7.jar
Servers/.jenkins/war/WEB-INF/lib/jansi-1.11.jar
Servers/.jenkins/war/WEB-INF/lib/javax.annotation-api-1.3.2.jar
Servers/.jenkins/war/WEB-INF/lib/javax.inject-1.jar
Servers/.jenkins/war/WEB-INF/lib/jaxen-1.2.0.jar
Servers/.jenkins/war/WEB-INF/lib/jbcrypt-1.0.0.jar
Servers/.jenkins/war/WEB-INF/lib/jcifs-1.3.18-kohsuke-1.jar
Servers/.jenkins/war/WEB-INF/lib/jcip-annotations-1.0.jar
Servers/.jenkins/war/WEB-INF/lib/jcl-over-slf4j-2.0.3.jar
Servers/.jenkins/war/WEB-INF/lib/jcommon-1.0.23.jar
Servers/.jenkins/war/WEB-INF/lib/jenkins-core-2.375.2.jar
Servers/.jenkins/war/WEB-INF/lib/jenkins-stapler-support-1.1.jar
Servers/.jenkins/war/WEB-INF/lib/jfreechart-1.0.19.jar
Servers/.jenkins/war/WEB-INF/lib/jline-2.14.6.jar
Servers/.jenkins/war/WEB-INF/lib/jna-5.12.1.jar
Servers/.jenkins/war/WEB-INF/lib/json-lib-2.4-jenkins-3.jar
Servers/.jenkins/war/WEB-INF/lib/jzlib-1.1.3-kohsuke-1.jar
Servers/.jenkins/war/WEB-INF/lib/kxml2-2.3.0.jar
Servers/.jenkins/war/WEB-INF/lib/listenablefuture-9999.0-empty-to-avoid-conflict-with-guava.jar
Servers/.jenkins/war/WEB-INF/lib/localizer-1.31.jar
Servers/.jenkins/war/WEB-INF/lib/log4j-over-slf4j-2.0.3.jar
Servers/.jenkins/war/WEB-INF/lib/memory-monitor-1.12.jar
Servers/.jenkins/war/WEB-INF/lib/metainf-services-1.9.jar
Servers/.jenkins/war/WEB-INF/lib/mxparser-1.2.2.jar
Servers/.jenkins/war/WEB-INF/lib/relaxngDatatype-20020414.jar
Servers/.jenkins/war/WEB-INF/lib/remoting-3077.vd69cf116da_6f.jar
Servers/.jenkins/war/WEB-INF/lib/robust-http-client-1.2.jar
Servers/.jenkins/war/WEB-INF/lib/sezpoz-1.13.jar
Servers/.jenkins/war/WEB-INF/lib/slf4j-api-2.0.3.jar
Servers/.jenkins/war/WEB-INF/lib/slf4j-jdk14-2.0.3.jar
Servers/.jenkins/war/WEB-INF/lib/spotbugs-annotations-4.7.3.jar
Servers/.jenkins/war/WEB-INF/lib/spring-aop-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/spring-beans-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/spring-context-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/spring-core-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/spring-expression-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/spring-security-core-5.7.4.jar
Servers/.jenkins/war/WEB-INF/lib/spring-security-crypto-5.7.4.jar
Servers/.jenkins/war/WEB-INF/lib/spring-security-web-5.7.4.jar
Servers/.jenkins/war/WEB-INF/lib/spring-web-5.3.23.jar
Servers/.jenkins/war/WEB-INF/lib/stapler-1736.vb_1e05c4231b_c.jar
Servers/.jenkins/war/WEB-INF/lib/stapler-adjunct-codemirror-1.3.jar
Servers/.jenkins/war/WEB-INF/lib/stapler-adjunct-timeline-1.5.jar
Servers/.jenkins/war/WEB-INF/lib/stapler-groovy-1736.vb_1e05c4231b_c.jar
Servers/.jenkins/war/WEB-INF/lib/stapler-jelly-1736.vb_1e05c4231b_c.jar
Servers/.jenkins/war/WEB-INF/lib/symbol-annotation-1.23.jar
Servers/.jenkins/war/WEB-INF/lib/task-reactor-1.8.jar
Servers/.jenkins/war/WEB-INF/lib/tiger-types-2.2.jar
Servers/.jenkins/war/WEB-INF/lib/txw2-20110809.jar
Servers/.jenkins/war/WEB-INF/lib/version-number-1.10.jar
Servers/.jenkins/war/WEB-INF/lib/websocket-jetty10-2.375.2.jar
Servers/.jenkins/war/WEB-INF/lib/websocket-jetty9-2.375.2.jar
Servers/.jenkins/war/WEB-INF/lib/websocket-spi-2.375.2.jar
Servers/.jenkins/war/WEB-INF/lib/windows-package-checker-1.2.jar
Servers/.jenkins/war/WEB-INF/lib/winp-1.30.jar
Servers/.jenkins/war/WEB-INF/lib/xpp3-1.1.4c.jar
Servers/.jenkins/war/WEB-INF/lib/xstream-1.4.19.jar
Servers/jenkins.war
Servers/selenium-server-4.7.2.jar

/.idea/
/.settings/
/target/

*.log
/Reports/

/target/test-classes/
/target/classes/
/target/cucumber-logs/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-status/
/*/target/*

Automation/.classpath
.project
.classpath
Automation/.idea/workspace.xml
